<div class="parent">
  <div class="keyboard">
    <span class="key">T</span>
    <span class="key">H</span>
    <span class="key">A</span>
    <span class="key">N</span>
    <span class="key">k</span>
    <span class="key">-</span>
    <span class="key">Y</span>
    <span class="key">O</span>
    <span class="key">U</span>
    <span class="key">!</span>
  </div>
  <p style="margin-top: 120px; margin-bottom: 30px; font-size: 40px">
    Your answer is saved.
  </p>
  <img src="medianet.png" alt="logo" class="logo" />
</div>
