<mat-card class="form-card">
  <div class="card-header"></div>
  <mat-card-content>
    <form class="form">
      <div class="form-header">
        <mat-form-field class="full-width question-input">
          <input matInput placeholder="Form Title" name="formTitle" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Form Description"
            name="formDescription"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div
  *ngFor="let question of questions; let i = index; trackBy: trackByIndex"
  class="form-question"
>
  <mat-card class="question-card">
    <div class="card-header"></div>
    <mat-card-content>
      <div class="question-container">
        <mat-form-field class="question-input">
          <input
            matInput
            placeholder="Question"
            [(ngModel)]="question.text"
            name="question{{ i }}"
          />
        </mat-form-field>
        <div class="options-container">
          <mat-radio-group [(ngModel)]="question.answer">
            <div
              *ngFor="
                let option of question.options;
                let j = index;
                trackBy: trackByIndex
              "
              class="option-item"
            >
              
              <mat-radio-button [value]="option">{{ option }}</mat-radio-button>
              <input
                matInput
                placeholder="Option"
                [(ngModel)]="question.options[j]"
                class="option-input"
              />
              <button mat-icon-button color="warn" (click)="removeOption(i, j)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </mat-radio-group>
          <button mat-icon-button color="primary" (click)="addOption(i)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <button
          mat-icon-button
          color="warn"
          class="delete-button"
          (click)="removeQuestion(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<!-- Move the add question button outside of the mat-card -->
<div class="form-footer">
  <button mat-fab color="primary" (click)="addQuestion()">
    <mat-icon>add</mat-icon>
  </button>
</div>
