.mat-header-cell, .mat-cell {
  text-align: center; /* Align text to the left */
  padding: 10px; /* Add padding for better spacing */
}

.mat-header-cell {
  font-weight: bold; /* Make header text bold */
}


